.form-item {
    display: flex;
    margin: 15px;
    align-items: flex-start;
}

.text-field {
    margin-left: 10px;
}

label {
    cursor: pointer;
}

input[type=text]:hover {
    border-color: lightblue;
    
}